{:paths ["src" "test"]
 :pods {org.babashka/go-sqlite3 {:version "0.3.13"}}
 :deps {cheshire/cheshire {:mvn/version "5.12.0"}}
 :tasks
 {:requires ([ems.core :as core])

  run   {:doc "Start EMS daemon"
         :task (core/start!)}

  init  {:doc "Initialize database"
         :task (core/init-only!)}

  test  {:doc "Run tests"
         :task (load-file "test/ems/engine_test.clj")}}}
